/* google font Lato */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
}

/* universal selector */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common utility */

.section-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-title {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 20px;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    padding: 15px 35px;
    background: rgb(229, 84, 115);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

section {
    max-width: 1392px;
    margin: 100px auto;
    padding: 0px 100px;
}

/* header styles */

.header {
    max-width: 1392px;
    height: 95vh;
    margin: 0 auto;
    background: rgba(229, 84, 115, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    gap: 30px;
}

.header-container-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-container-text h1 {
    color: rgb(39, 39, 39);
    font-size: 60px;
    font-weight: 800;
}

.header-hero-img {
    width: 50%;
    height: 95vh;
}

.header-hero-img img {
    width: 100%;
    height: 100%;
}

/* featured styles here */

.featured-container-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.featured-img-container {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.featured-img {
    width: 450px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg-1 {
    background: rgba(167, 33, 98, 0.15);
}

#bg-2 {
    background: rgba(5, 151, 160, 0.15);
}

#bg-3 {
    background: rgba(71, 125, 17, 0.15);
}

#bg-1,
#bg-2,
#bg-3 {
    border-radius: 300px 300px 0px 0px;
}

.pink-flower-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pink-flower-link>p>a {
    color: rgb(39, 39, 39);
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
}